*{
font-family: 'Oswald', sans-serif;
margin: 0;
}

body{
background-color: #37184d;
transition: background-color 0.5s;
}
nav{
display: flex;
flex-direction: row;
justify-content: space-evenly;
background-color: #37184d;
}
.navbar-brand{
text-decoration: none;
color: #000;
font-size: 2rem;
color: #71ebc6;
font-weight: 700;
}
.nav-link{
color: #71ebc6;
}

.nav-link::before{
content: "";
display: block;
height: 2px;
width: 0%;
background-color:#71ebc6;
top: 0%;
position: relative;
transition: all 0.5s;
}

.nav-link:hover::before{
width: 100%;
}
.first,.second,.third,.fourth{
display: flex;
flex-direction: column;
justify-content: center;
padding: 1.5em;
height: 100vh;
position: relative;
}
.first-content, .second-content{
width: 20vw;
font-size: 3rem;
}

.second-content{
color: #FFF;
font-size: 2rem;
}
.second img{
width: 500px;
}
.second>.container{
display: flex;
flex-direction: row;
justify-content: space-around;
}.clutter{
float: right;
}
.clutter button{
border: none;
background-color: aliceblue;
}
.clutter button:hover{
background-color: #71ebc6;
cursor: pointer;
transition: all 0.3s ease-in-out;
}
.blockquote-footer{
font-size: large;
color: #000;
}
.third-content{
font-size: 3rem;
width:40vw
}
.third-button{
border: none;
background-color: aliceblue;
}
.third-button:hover{
background-color: #71ebc6;
cursor: pointer;
transition: all 0.3s ease-in-out;
}
.fourth p{
width: 50vw;
color: #FFF;
}
.fourth i{
font-size: 2rem;
color: #FFF;
}
hr{
color: #FFF;
}

.about img{
width: 200px;
border-radius: 200px;
}
.about{
justify-content: space-between;
}
.lead{
color: #FFF;
}

@media (max-width:762px) {

    .first,.second,.third,.fourth{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
position: relative;
}
.first-content{
font-size: small;
width: auto;
}
.second-content,.third-content{
width:100vw;
padding: 1rem
}
.second-content{
font-size: 1rem;
}
.third-content p{
font-size: 1rem;
}

.second img{
width: 100vw;
}

.second>.container{
display: flex;
flex-direction: column;
align-items: center;
}

.blockquote-footer{
font-size: small;
color: #000;
}
.third-content{
font-size: 3rem;
width:40vw
}
.third-button{
border: none;
background-color: aliceblue;
}
.third-button:hover{
background-color: #71ebc6;
cursor: pointer;
transition: all 0.3s ease-in-out;
}
.fourth p{
font-size: 1rem;
width: 50vw;
color: #FFF;
}
.fourth i{
font-size: 2rem;
color: #FFF;
}
hr{
color: #FFF;
}
.about img{
width:30vw
}.clutter button{
margin-left: 20vw;
}
}